{#
  Template for generating domain_config.hpp

  This template generates the DomainConfig interface with virtual methods for
  configuration values defined in config_schema.yaml.
#}
{% import '_macros.jinja2' as macros %}
#pragma once

#include <string>

#include "porytiles2/domain/config/anim_key_frame_resolution_strategy.hpp"
#include "porytiles2/domain/config/anim_pal_resolution_strategy.hpp"
#include "porytiles2/domain/config/anim_pal_resolution_strategy_overrides.hpp"
#include "porytiles2/domain/config/artifact_edit_mode.hpp"
#include "porytiles2/domain/config/domain_config_validators.hpp"
#include "porytiles2/domain/config/tiles_pal_mode.hpp"
#include "porytiles2/domain/models/rgba32.hpp"
#include "porytiles2/domain/packing/models/palette_hint.hpp"
#include "porytiles2/utilities/result/chainable_result.hpp"
#include "porytiles2/xcut/config/config_scope_type.hpp"
#include "porytiles2/xcut/config/config_value.hpp"
#include "porytiles2/xcut/config/xcut_config_validators.hpp"

namespace porytiles2 {

{{ macros.autogen_warning() }}

/**
 * @brief Interface that defines a complete domain layer configuration.
 */
class DomainConfig {
  public:
    virtual ~DomainConfig() = default;
{{ macros.public_config_methods(config_values, 'domain', 'DomainConfig') }}

  protected:
{{ macros.protected_config_methods(config_values, 'domain') }}
};

} // namespace porytiles2
