# IDE and filesystem metadata
.vscode
.idea
.DS_Store

# Build artifacts and executables
Porytiles-1.X.X/build/**
build/**
release/**
debug/**
*.dSYM

# LLVM coverage files
default.profraw
testcov.profdata
