# IDE and filesystem metadata
.vscode
.idea
.DS_Store

# Build artifacts and executables
build/**
cmake-build-*/**

# Doxygen
Documentation/html/**
Documentation/latex/**

# LLVM coverage files
default.profraw
testcov.profdata
