# IDE and filesystem metadata
.vscode
.idea
.DS_Store

# Build artifacts and executables
build/**
release/**
debug/**
*.dSYM
porytiles
porytiles.exe
porytiles-tests
porytiles-tests.exe

# LLVM coverage files
default.profraw
testcov.profdata
