{#
  Template for generating config_provider.cpp

  This template generates the default implementations for ConfigProvider methods
  that return not_provided() for all configuration values.
#}
#include "porytiles2/infra/config/config_provider.hpp"

namespace porytiles2 {
{% for value in config_values %}

LayerValue<{{ value.type }}> ConfigProvider::{{ value.name }}({% if value.scope_type == 'tileset' %}[[maybe_unused]] const std::string &tileset{% elif value.scope_type == 'layout' %}[[maybe_unused]] const std::string &layout{% endif %}) const
{
    return LayerValue<{{ value.type }}>::not_provided();
}
{% endfor %}

} // namespace porytiles2
