{#
  Template for generating domain_config.hpp

  This template generates the DomainConfig interface with virtual methods for
  configuration values defined in config_schema.yaml.
#}
{% import '_macros.jinja2' as macros %}
#pragma once

#include <string>

#include "porytiles2/domain/models/rgba32.hpp"
#include "porytiles2/utilities/source_locations.hpp"
#include "porytiles2/utilities/text/plain_text_formatter.hpp"
#include "porytiles2/xcut/config/config_value.hpp"
#include "porytiles2/xcut/config/config_validators.hpp"
#include "porytiles2/xcut/panic/panic.hpp"
#include "porytiles2/xcut/result/chainable_result.hpp"

namespace porytiles2 {

{{ macros.autogen_warning() }}

/**
 * @brief Interface that defines a complete domain layer configuration.
 *
 * @details
 * The domain layer operates with this interface - it doesn't need to worry about implementation. Every config value is
 * either virtual (i.e., comes from the user) or defined in terms of other virtual values (derived).
 */
class DomainConfig {
  public:
    virtual ~DomainConfig() = default;

{% for value in config_values if value.layer == 'domain' %}
    // Public method with validation
    [[nodiscard]] ChainableResult<ConfigValue<{{ value.type }}>>
    {{ value.name }}({% if value.scope_type == 'tileset' %}const std::string &tileset{% elif value.scope_type == 'layout' %}const std::string &layout{% endif %}) const
    {
        auto raw_val = {{ value.name }}_raw({% if value.scope_type == 'tileset' %}tileset{% elif value.scope_type == 'layout' %}layout{% endif %});
{% if value.validators %}
        // Apply validators in sequence
{%   for validator in value.validators %}
        if (raw_val.has_value()) {
            raw_val = {{ validator }}(raw_val.value());
        }
{%   endfor %}
{% endif %}
        return raw_val;
    }

{% endfor %}
  protected:
{% for value in config_values if value.layer == 'domain' %}
    // Protected virtual method that fetches raw value from provider
    [[nodiscard]] virtual ChainableResult<ConfigValue<{{ value.type }}>>
    {{ value.name }}_raw({% if value.scope_type == 'tileset' %}const std::string &tileset{% elif value.scope_type == 'layout' %}const std::string &layout{% endif %}) const = 0;

{% endfor %}
};

} // namespace porytiles2
