{#
  Template for generating config_provider.hpp

  This template generates the ConfigProvider base class with virtual methods for
  configuration values defined in config_schema.yaml.
#}
{% import '_macros.jinja2' as macros %}
#pragma once

#include <string>

#include "porytiles/app/config/primary_pairing_mode.hpp"
#include "porytiles/domain/config/anim_key_frame_resolution_strategy.hpp"
#include "porytiles/domain/config/anim_palette_resolution_strategy.hpp"
#include "porytiles/domain/config/artifact_edit_mode.hpp"
#include "porytiles/domain/config/metatile_attribute_field_definition.hpp"
#include "porytiles/domain/config/packing_strategy_params.hpp"
#include "porytiles/domain/config/packing_strategy_type.hpp"
#include "porytiles/domain/config/per_anim_overrides.hpp"
#include "porytiles/domain/config/role_pin_definition.hpp"
#include "porytiles/domain/config/tile_sharing_alignment.hpp"
#include "porytiles/domain/config/tile_sharing_packing.hpp"
#include "porytiles/domain/config/tiles_palette_mode.hpp"
#include "porytiles/domain/models/rgba32.hpp"
#include "porytiles/domain/packing/models/palette_hint.hpp"
#include "porytiles/infra/config/layer_value.hpp"
#include "porytiles/infra/config/optional_size_format.hpp"
#include "porytiles/xcut/config/config_scope_type.hpp"

namespace porytiles {

{{ macros.autogen_warning() }}

/// @brief An interface which config implementations can use to load config values.
///
/// @details
/// ConfigProvider is basically just a copy of all three layer configs (domain, app, infra) but with LayerValue return
/// types. ConfigProvider provides a default implementation for each method which returns an empty LayerValue. This is
/// helpful for ConfigProvider implementations, since often the implementations may not want to provide a value for every
/// config param.
class ConfigProvider {
  public:
    virtual ~ConfigProvider() = default;

    /// @brief Gets the name of this ConfigProvider, useful for diagnostic purposes.
    ///
    /// @return The name of this ConfigProvider
    [[nodiscard]] virtual std::string name() const = 0;

    // Domain Config
{% for value in config_values if value.layer == 'domain' %}

    [[nodiscard]] virtual LayerValue<{{ value.type }}> {{ value.symbol }}(ConfigScopeType type, const std::string &scope) const;
{% endfor %}

    // App Config
{% for value in config_values if value.layer == 'app' %}

    [[nodiscard]] virtual LayerValue<{{ value.type }}> {{ value.symbol }}(ConfigScopeType type, const std::string &scope) const;
{% endfor %}

    // Infra Config
{% for value in config_values if value.layer == 'infra' %}
    [[nodiscard]] virtual LayerValue<{{ value.type }}> {{ value.symbol }}(ConfigScopeType type, const std::string &scope) const;
{% endfor %}
};

} // namespace porytiles
