{% import '_macros.jinja2' as macros %}
#pragma once

{{ macros.autogen_warning() }}

#include <memory>
#include <string>

#include "porytiles/infra/config/config_provider.hpp"
#include "porytiles/infra/config/infra_config.hpp"

namespace porytiles {

class MockInfraConfig : public InfraConfig {
  public:
    // Stub: mocks do not layer providers.
    void add_provider(std::unique_ptr<ConfigProvider>) override {}

{{ macros.mock_public_fields(config_values, 'infra') }}

  protected:
{{ macros.mock_raw_methods(config_values, 'infra') }}
};

} // namespace porytiles
