{% import '_macros.jinja2' as macros %}
#pragma once

{{ macros.autogen_warning() }}

#include <memory>
#include <string>
#include <vector>

#include "porytiles2/domain/config/domain_config.hpp"
#include "porytiles2/infra/config/config_provider.hpp"

namespace porytiles2 {

class MockDomainConfig : public DomainConfig {
  public:
    // Stub: mocks do not layer providers.
    void add_provider(std::unique_ptr<ConfigProvider>) override {}

{{ macros.mock_public_fields(config_values, 'domain') }}

  protected:
{{ macros.mock_raw_methods(config_values, 'domain') }}
};

} // namespace porytiles2
